<div class="row">
  <div class="col-6">
    <h4 class="text-center font-weight-bold">สินค้าที่เลือก</h4>
    <table class="table ">
      <tbody>
        <tr>
          <td>รหัสสินค้า</td>
          <td>{{selectedProduct.productId}}</td>
        </tr>
        <tr>
          <td>ชื่อสินค้า</td>
          <td>{{selectedProduct.productName}}</td>
        </tr>
        <tr>
          <td>ราคาสินค้า</td>
          <td>{{selectedProduct.productCost}}</td>
        </tr>
        <tr>
          <td>จำนวนที่ต้องการซื้อ</td>
          <td><input class="form-control" [(ngModel)]="selectedProduct.qty"></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="addProduct()">ใส่ตะกร้า</button>
  </div>

  <div class="col-6">
    <app-product-cart [cartProduct]="addedProduct"></app-product-cart>
  </div>
</div>